<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Where good (or bad) ideas, projects, and startups go to die. Rest in peace." />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/homepage.css" />
  </head>
  <body>
    <div id="content">
      {{ content }}
    </div>
    <div id="cemetery">
      {% for project in collections.projects %}
        <div class="{% cycle "background": "b1", "b2", "b3", "b4", "b5", "b6", "b7" %} {% cycle "corner": "c1", "c2", "c3", "c4", "c5" %} {% cycle "size": "s1", "s2", "s3", "s4" %}">
          <a href="{{ project.url }}">{{ project.data.title }}</a>
          {% if project.data.birth_year and project.data.death_year %}<p class="year">{{ project.data.birth_year }} - {{ project.data.death_year }}</p>{% endif %}
          {% if project.data.epitaph %}<p>{{ project.data.epitaph }}</p>{% endif %}
        </div>
      {% endfor %}
    </div>
  </body>
</html>
